.cta{
    font-size: 1.7rem;
    padding: 1.5rem 3rem;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    max-width: 20rem;
    min-width: 20rem;
    text-align: center;
}
.cta a{
    text-decoration: none;
}